footer {
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 100vw !important;
    font-size: 75%;
    font-weight: 700;
    overflow: hidden;
    font-family: "RubikMedium";
    .marquee {
        grid-area: marquee;
        justify-self: stretch;
        width: 100%;
        margin-left: 0;
        overflow: hidden;
        white-space: nowrap;
        text-align: right;
        div {display: inline-block;}
        img {height: $font-size; width: auto;}
    }
}