header {
    text-transform: uppercase;
    padding: .6rem;
    padding-right: 0;
    img, p, marquee { align-self: center; justify-self: center; }
    img {
        grid-area: logo;
    }
    p {
        grid-area: slogan;
    }
    marquee {
        grid-area: marquee;
        justify-self: stretch;
    }
}